_site/
*.swp
pkg/
test/
.sass-cache/
Gemfile.lock

# emacs ignoring
#################
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# reftex files
*.rel

# cask packages
.cask/

# Flycheck
flycheck_*.el