<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <ul>
      <li class="{% if page.title == 'Blog home' %}current{% endif %}">
        <a href="/">All posts</a>
      </li>
      {% for tag in site.tags %}
      <li class="{% if page.tag == tag[0] %}current{% endif %}">
          <a href="/tag/{{ tag[0] }}">{{ tag[0] }}</a>
      </li>
      {% endfor %}
    </ul>

    <h4>Recent posts</h4>
    <ul>
        {% for post in site.posts limit:10 %}
        <li class="{% if page.title == post.title %}current{% endif %}">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
  </aside>
</div>
